body {
  background-color: #fafafa;
}
nav {
  background-color:#1a237e;
  height:52px;
  padding-bottom: 2px;
}
.card {
background-color:#e3f2fd;
width: 400px;
margin: 5% 10px;
padding: 13px 10.15rem;
}
nav .brand-logo{
  font-size:22px;
  padding-left: 22px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
nav .nav-wrapper{
  padding-bottom:2px;
}
.rowdeck{
width:380px;
}
.btn-large {
    height: 40px;
    line-height: 0px;
    width:380px;
}
.account{
margin-left:650px;
padding-top:0px;
margin-top: 18px
}
.doc{
  padding: 13px 10.15rem;
}
.row {
  padding: 0 0 0 45px;
}
.row .col.s6 {
  width: 35%;
  margin-left: auto;
  left: auto;
  right: auto;
  float: left;
  padding: 13px 12.5rem;
}
.row {
    padding: 0 0 0 15px;
}
button {
  margin: 0px;
 border:0px;
 background-color:inherit;
}
.card-panel {
  padding: 0px
}

p.error {
    color: red
}
 .material-icons {
line-height:0.2
 }
.nav-items{
    margin-right: 400px;
}
